@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
}


/*.loader::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    transform: translate(-50%, -50%);*/
/*    border: 4px solid #ddd;*/
/*    border-top: 4px solid #3498db;*/
/*    border-radius: 50%;*/
/*    animation: spin 1s linear infinite;*/
/*    z-index: 2;*/
/*    margin: 0; !* margin kaldırılır *!*/
/*}*/

.loader::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border: 4px solid #ddd;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 2;
}

.loader-sm::after {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

.loader-md::after {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}

.loader-xl::after {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
}

.form-filter:hover {
    color: #147fcb;
    cursor: pointer;
}

.active-filter {
    color: #147fcb;
}

.select2-container--default .select2-selection--single {
    height: 38px !important;
    line-height: 38px !important;
    border-color: #dae1e8;
}

.select2-selection__rendered {
    line-height: 38px !important;
    color: #73757c !important;
}

.cursor-pointer {
    cursor: pointer;
}

.select2-dropdown{
    z-index: 9999999999;
}
